/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {

}

.main-nav {
    color: #515A5A;
    font-weight: bolder;
    font-size: 1.25em;
}

.text {
    display: none;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    flex-grow: 1;
    border: 1px solid #808080;
    padding: 1em 0;
    color: #515A5A;
}

/* ================================= 
  class/id selectors
==================================== */

.quote {
    font-family: 'Permanent Marker';
    font-size: 2em;
    color:#330033;
}

#name {
    color: #330033;
    padding: 0;
}

#welcome {
    color: #fff;
    background-color: #330033;
    padding: 3em;
}

#schedule{
    display: inline-block;
    justify-content: left;
}

#classes {
    padding: 1em 0;
}

/* ================================= 
  Base Element Styles
==================================== */

body {
    color: #330033;
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    color: #fff;
    margin: 0;
    padding-bottom: 1em;
}

h2 {
    margin: 0;
}

li {
    padding: .5em;
}

p{
    font-size: 1.25em;
}